<!-- .section -->
<section class="call-action">
  <div class="project " data-aos="fade-left" data-aos-duration="800">
    <span class="project__content">
      <span class="project__num-text"> Domaine Philemeon </span>
      Project 2
    </span>
  </div>
</section>
