@font-face {
  font-family: "OriginSans";
  font-weight: bold;
  src: url('OriginSansBold.ttf');
}

@font-face {
  font-family: "OriginSans Outline";
  font-weight: bold;
  src: url('OriginSansBoldOutline.ttf');
}

@font-face {
  font-family: "OriginSans";
  font-weight: normal;
  src: url('OriginSansRegular.ttf');
}

@font-face {
  font-family: "OriginSans Outline";
  font-weight: normal;
  src: url('OriginSansRegularOutline.ttf');
}

@font-face {
  font-family: "OriginSans";
  font-weight: lighter;
  src: url('OriginSansLight.ttf');
}

@font-face {
  font-family: "OriginSans Outline";
  font-weight: lighter;
  src: url('OriginSansLightOutline.ttf');
}
