@font-face {
  font-family: "OpenSans Bold";
  font-weight: bold;
  src: url('OpenSans-Bold.ttf');
}

@font-face {
  font-family: "OpenSans Bold Italic";
  font-weight: bold;
  src: url('OpenSans-BoldItalic.ttf');
}

@font-face {
  font-family: "OpenSans ExtraBold";
  font-weight: bolder;
  src: url('OpenSans-ExtraBold.ttf');
}

@font-face {
  font-family: "OpenSans ExtraBold Italic";
  font-weight: bolder;
  src: url('OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: "OpenSans SemiBold";
  font-weight: bold;
  src: url('OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: "OpenSans SemiBold Italic";
  font-weight: bold;
  src: url('OpenSans-SemiBoldItalic.ttf');
}

@font-face {
  font-family: "OpenSans Italic";
  font-weight: lighter;
  src: url('OpenSans-Italic.ttf');
}

@font-face {
  font-family: "OpenSans Light";
  font-weight: lighter;
  src: url('OpenSans-Light.ttf');
}

@font-face {
  font-family: "OpenSans Light Italic";
  font-weight: lighter;
  src: url('OpenSans-LightItalic.ttf');
}

@font-face {
  font-family: "OpenSans Regular";
  font-weight: normal;
  src: url('OpenSans-Regular.ttf');
}
