.background {
  position: absolute;
  top: -40px;
  left: -40px;
  height: 120%;
  width: 120%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: blur(30px);
  filter: blur(30px);
}

.program--card {
  position: relative;
  border-radius: 8px;
  height: 450px;
  width: 400px;
  /* top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 80px -10px black;
  overflow: hidden;
}

.card-blur {
  position: absolute;
  height: 100%;
  width: calc(100% + 1px);
  background-color: black;
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.program--card:hover .card-blur {
  opacity: 0.6;
}

.footer--card {
  z-index: 1;
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
}

svg.curve,
svg.curve2,
svg.curve3 {
  position: absolute;
  fill: white;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 450px;
}

.connections {
  height: 80px;
  width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  margin: auto;
}

.connection {
  padding: 5px;
  border-radius: 50px;
  display: inline-block;
  /* background-color: var(--color-yellow); */
  background-color: rgba(239, 202, 29, 0.84);
  transform: translateY(200px);
  font-family: "Teko Medium", sans-serif;
  transition: transform 1s cubic-bezier(.46, 1.48, .18, .81);
}

.program--card:hover .connection {
  transform: translateY(0px);
}

.desc {
  padding: 0 10px;
  transform: translateY(250px);
  transition: transform 1s cubic-bezier(.31, 1.21, .64, 1.02);
}

.program--card:hover .desc {
  transform: translateY(0px);
}

.name {
  font-family: "OpenSans Regular", sans-serif;
  font-weight: bolder;
}

.job {
  font-family: "OpenSans Bold", sans-serif;
  margin-top: 10px;
  padding-top: 5px;
}

.connection.date {
  border-radius: 50px;
  overflow: hidden;
}

.connection.hour {
  margin-left: 10px;
  border-radius: 50px;
  overflow: hidden;
}

.connection.date {
  transition-delay: 0.06s;
}

.connection.hour {
  transition-delay: 0.12s;
}

.connection.hour .desc {
  /* width: 50px; */
  background-position: center;
  background-size: cover;
}

.connection.date .desc {
  /* width: 50px; */
  /* margin-top: 4px; */
  margin-left: 4px;
  background-position: center;
  background-size: cover;
}

.michel {
  background-image: url("../assets/img/michel.jpg")
}

.combichrist {
  background-image: url("../assets/img/combichrist.jpg")
}

.amenra {
  background-image: url("../assets/img/amenra.jpg")
}

.background {
  background-image: url("../assets/img/hero.jpg")
}
