:root {
  /* --swiper-theme-color: #EFCA1D !important; */
  --swiper-theme-color: #fff !important;
}

.swiper-container {
  width: 95vw;
  height: 80vh;
  overflow: hidden;
}

.swiper-slide {
  padding-right: 70%;
}

.swiper-artist {
  font-size: 5rem;
}

text {
  font-size: 2.5rem;
  padding: 6px 30px;
  font-family: "Teko Regular", sans-serif;
  background-color: var(--color-white);
  color: var(--color-dark);
}

@media only screen and (max-width : 760px) {

  .swiper-artist {
    font-size: 4rem;
    line-height: 3rem;
  }

  .swiper-wrapper {
    padding: 2rem;
  }

  .swiper-slide {
    padding-top: 15vh;
    padding-right: 20%;
    text-align: center;
  }

  text {
    font-size: 1.5rem;
    padding: 8px 20px;
  }
}
