@import "../fonts/Open_Sans/opensans.css";
@import "../fonts/Teko/teko.css";


:root {
  --color-white: #fff;
  --color-off-white: #f5f5f5;
  /* --color-dark: #1B1B1B; */
  /* --color-dark: #2b2f3a; */
  /* --color-dark: #1f232c; */
  --color-dark: #090a0e;
  --color-yellow: #EFCA1D;
  --color-danger: #ff3b3b;
  --color-success: #05B339;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "OpenSans Regular", sans-serif;
  background-color: #fafafa;
}

section {
  display: block;
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-family: "Teko Regular", sans-serif;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.5rem;
}

p,
a {
  font-size: 1rem;
}

footer {
  position: relative;
}

li,
a {
  text-decoration: none;
}

/* Colors ------------------------------------------------------------------- */

.text-white {
  color: var(--color-white) !important;
}

.text-dark {
  color: var(--color-dark) !important;
}

.text-yellow {
  color: var(--color-yellow) !important;
}

.text-min {
  font-size: 0.6rem;
}

/* Buttons ------------------------------------------------------------------- */

.btn {
  display: inline-block;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  font-family: "Teko Regular", sans-serif;
  text-decoration: none;
  padding: 14px 40px;
  font-size: 2rem;
}

.btn-sm {
  cursor: pointer;
  display: inline-block;
  font-family: "Teko Regular", sans-serif;
  text-decoration: none;
  padding: 10px 30px;
  font-size: 1.5rem;
}

.btn-sm i {
  font-size: 2rem;
}

.btn-white {
  background: transparent;
  color: var(--color-white);
  border: 3px solid var(--color-white);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16), 0 0 1em rgba(0, 0, 0, 0.16), 0 0 0.2em rgba(0, 0, 0, 0.16);
}

.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.16);
  transition: 0.6s;
}

.btn-dark {
  background: transparent;
  color: var(--color-dark);
  border: 3px solid var(--color-dark);
}

.btn-dark:hover {
  color: var(--color-white);
  background-color: var(--color-dark);
  transition: 0.3s;
}

.btn-danger {
  background: transparent;
  color: var(--color-danger);
  border: 3px solid var(--color-danger);
}

.btn-danger:hover {
  color: var(--color-danger);
  background-color: var(--color-danger);
  transition: 0.3s;
}

.btn-success {
  background: transparent;
  color: var(--color-success);
  border: 3px solid var(--color-success);
}

.btn-success:hover {
  color: var(--color-success);
  background-color: var(--color-success);
  transition: 0.3s;
}

.btn-warning {
  background: transparent;
  color: var(--color-yellow);
  border: 3px solid var(--color-yellow);
}

.btn-warning:hover {
  color: var(--color-yellow);
  background-color: var(--color-yellow);
  transition: 0.3s;
}

.btn-cta {
  color: var(--color-white);
  background-color: var(--color-dark);
  border: 3px solid var(--color-dark);
}

.btn-cta:hover {
  background-color: #000;
  transition: 0.3s;
}

.btn-filled i {
  padding: 10px 50px;
  font-size: 1.5rem;
  margin-left: 10px;
}

.btn-filled {
  pointer-events: none;
  text-transform: uppercase;
  color: var(--color-danger);
  border: 3px solid var(--color-white);
  background-color: var(--color-white);
  text-shadow: 1px 1px 2px rgba(100, 23, 23, 0.16), 0 0 1em rgba(100, 23, 23, 0.16), 0 0 0.2em rgba(100, 23, 23, 0.16);
}

/* Text ------------------------------------------------------------------- */

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

/* Scroll indication --------------------------------------------------------- */

.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  transition: 1s;
  opacity: 0.9;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}

@keyframes pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}


/* Shadows ------------------------------------------------------------------- */

.shadow-sm {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.shadow-md {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16), 0 0 2em rgba(0, 0, 0, 0.16), 0 0 0.2em rgba(0, 0, 0, 0.16);
}

.shadow-xl {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

/* Borders ------------------------------------------------------------------- */

.border-sm {
  border-radius: 8px;
}

.border-md {
  border-radius: 30px;
}

.border-xl {
  border-radius: 50px;
}

/* Margin ------------------------------------------------------------------- */

.mt-n5 {
  margin-top: -5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.m-5 {
  margin: 5rem;
}

.m-4 {
  margin: 4rem;
}

.m-3 {
  margin: 3rem;
}

.m-2 {
  margin: 2rem;
}

.m-1 {
  margin: 1rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.p-5 {
  padding: 5rem;
}

.p-4 {
  padding: 4rem;
}

.p-3 {
  padding: 3rem;
}

.p-2 {
  padding: 2rem;
}

.p-1 {
  padding: 1rem;
}

.pr-8 {
  padding-right: 8rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-1 {
  padding-right: 1.5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-1 {
  padding-top: 1.5rem;
}

.pl-8 {
  padding-left: 8rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-1 {
  padding-left: 1.5rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Display ------------------------------------------------------------------- */

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline-flex {
  display: inline-flex;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.d-contents {
  display: contents;
}

.d-inline {
  display: inline;
}

.flex-end {
  align-items: flex-end;
  justify-content: flex-end;
}

/* Grid ------------------------------------------------------------------- */

.container-fluid {
  width: 100%;
  display: grid;
  margin-right: auto;
  margin-left: auto;
}

.container {
  display: grid;
  padding: 0 200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.col-66 {
  flex: 0 0 auto;
  width: 66.66666666% !important;
}

.col-50 {
  flex: 0 0 auto;
  width: 50% !important;
}

.col-33 {
  flex: 0 0 auto;
  width: 33.3333333% !important;
}

.col-20 {
  flex: 0 0 auto;
  width: 20% !important;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

@media only screen and (max-width : 760px) {

  .block-max {
    padding: 1rem 2rem;
  }

  .block-min {
    padding: 1rem 2rem;
  }

  .col-50,
  .col-33,
  .col-20 {
    display: grid;
    width: 100% !important;
  }

}
