@import "design-system.css";
@import "carousel.css";
@import "program.css";
@import "menu.css";
@import "card.css";

html {
  overflow-x: hidden;
}

.hero {
  height: 120vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/hero.jpg");
  color: var(--color-white);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .scrolldown {
  margin-left: 50%;
}

.agenda {
  height: 65vh;
  display: flex;
  background-attachment: fixed;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/agenda.jpg");
  color: var(--color-white);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  opacity: 0.8;
  transition: 1s;
  font-size: 6rem;
  position: absolute;
  align-self: flex-end;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16), 0 0 1em rgba(0, 0, 0, 0.16), 0 0 0.2em rgba(0, 0, 0, 0.16);
}

.alert {
  position: absolute;
  z-index: 1 !important;
  background-color: rgba(239, 202, 29, 0.54);
  height: 20vh;
  width: 100vw;
  bottom: -20vh;
}

.alert h1 {
  font-size: 5.5rem;
  line-height: 4.8rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16), 0 0 1em rgba(0, 0, 0, 0.16), 0 0 0.2em rgba(0, 0, 0, 0.16);
}

.alert .btn {
  margin-left: 10vw;
}

.program {
  width: 50%;
  grid-row: auto;
  margin-top: 10rem;
}

.program ul,
.program a {
  list-style: none;
  text-decoration: none;
  color: var(--color-white);
}

.program a {
  font-family: "OpenSans Regular", sans-serif;
}

.program li {
  font-size: 1.2rem;
  color: var(--color-dark);
  padding: 8px 25px 8px 40px;
  font-family: "Teko Regular", sans-serif;
  background-color: var(--color-white);
}

/* Covid ------------------------------------------------------------------- */
/*
#main-covid {
  background: url("../assets/img/wall.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
} */

.block-max {
  padding: 5rem 6rem;
}

.block-min {
  padding: 2rem 3rem;
}

#main-covid .card {
  background-color: var(--color-white);
}

.bench {
  width: 60%;
}

.chair {
  width: 20px;
  margin-bottom: 4px;
}

.chair-busy {}

.chair-unavailable {}

.leg {
  font-size: 0.8rem;
}

.leg-busy,
.leg-unavailable {
  opacity: 0.9;
  margin-right: 8px;
}

/* Partners ------------------------------------------------------------------- */

#partners {
  /* height: 80vh; */
  /* background: url("../assets/img/wall.png"); */
  background: url("../assets/img/wall.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#partners .partner-v {
  height: 6rem;
  width: auto;
}

#partners .partner-h {
  height: auto;
  width: 10rem;
}

/* Footer ------------------------------------------------------------------- */

.footer--nav {
  background-color: var(--color-yellow);
  height: 100px;
}

.footer--nav li {
  font-family: "OpenSans SemiBold", sans-serif;
}

.footer--info {
  background-color: var(--color-dark);
  color: var(--color-white);
  height: 400px;
}

.footer--nav a {
  color: var(--color-dark);
}

.footer--info a {
  color: var(--color-white);
}

.footer--info .social-media {
  width: 15px;
}




@media only screen and (max-width : 760px) {

  .hero {
    height: 110vh;
  }

  .hero .scrolldown {
    transform: translateX(-50%);
    margin-left: 50%;
  }

  .footer--nav {
    height: 200px;
  }

  .footer--info {
    height: 600px;
  }

  .footer--info .text-min {
    margin-top: 5rem;
  }

  .block-max {
    padding: 1rem 2rem;
  }

  .block-min {
    padding: 1rem 2rem;
  }
}
