* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  z-index: 100 !important;
  position: relative;
}

.content {
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: -1 !important;
  /* width: 100%; */
}

.wrapper {
  top: 0;
  position: fixed;
  right: -100%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.90);
  transition: all 0.6s ease-in-out;
}

#active:checked~.wrapper {
  right: 0;
}

.menu-btn {
  position: fixed;
  z-index: 2;
  right: 40px;
  /*left: 20px; */
  top: 20px;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  /* color: #fff; */
  /* background: linear-gradient(90deg, #f92c78, #4114a1); */
  background: linear-gradient(90deg, rgba(239, 202, 29, 0.90), rgba(239, 202, 29, 0.90));
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 3px solid #000;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
  transform: translateY(-8px);
}

.menu-btn:after {
  transform: translateY(8px);
}

.close {
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background .6s;
}

/* closing animation */
#active:checked+.menu-btn span {
  transform: scaleX(0);
}

#active:checked+.menu-btn:before {
  transform: rotate(45deg);
  border-color: #000;
}

#active:checked+.menu-btn:after {
  transform: rotate(-45deg);
  border-color: #000;
}

.wrapper ul {
  top: 60%;
  right: 25vw;
  height: 90%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
}

.wrapper ul li {
  height: 10%;
  margin: 15px 0;
  font-family: "Teko Regular", sans-serif;
  text-transform: uppercase;
}

.wrapper ul li a {
  opacity: 0;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  text-decoration: none;
  /* padding: 5px 0px 5px 30px; */
  padding: 5px 30px;
  transition: all 0.3s ease;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a:after {
  position: absolute;
  content: "";
  /* background: #fff; */
  /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-left: 5px solid #fff;
  transition: transform 0.3s ease;
  transform: scaleY(0);
  z-index: -1;
}

.wrapper ul li a:hover:after {
  transform: scaleY(1);
}

.wrapper ul li a:hover {
  color: var(--color-yellow);
}

input[type="checkbox"] {
  display: none;
}

#active:checked~.wrapper ul li a {
  opacity: 1;
}

.wrapper ul li a {
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}

#active:checked~.wrapper ul li a {
  transform: none;
  transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
  /* easeOutBackを緩めた感じ */
  transition-delay: .6s;
  transform: translateX(-100px);
}

@media only screen and (max-width : 760px) {
  .menu-btn {
    right: 50px;
    top: 30px;
    height: 70px !important;
    width: 70px;
    font-size: 20px;
  }

  .wrapper ul {
    top: 20vh;
    left: 30vw;
    height: 90vh;
    position: fixed;
    transform: translate(-50%, -50%);
  }

  .wrapper ul li {
    font-size: 1.5rem;
  }

}
