@keyframes shake {
  25% {
    transform: rotate(calc(var(--angle) * -1));
  }

  50% {
    transform: rotate(var(--angle));
  }

  100% {
    transform: rotate(0deg);
  }
}

.display {
  display: grid;
  grid-template-columns: 100%;
}

.hover {
  --width: 100%;
  --time: 0.7s;
  min-height: 350px;
  position: relative;
  display: flex;
  padding: 2rem;
  margin: 0.5rem 0;
  color: #000;
  border: 3px solid #222;
  overflow: hidden;
}

.hover .text {
  position: relative;
  transition: color var(--time);
  z-index: 5;
}

.hover .price {
  display: none;
  transition: color var(--time);
  z-index: 5;
}

.hover:hover .price {
  display: block;
  margin-left: 20%;
}

.hover:hover .text {
  transition: 0.8s;
  color: #fff;
}

.hover:hover h2 {
  transition: 0.8s;
  color: #fff;
}

.hover span {
  position: absolute;
  display: block;
  content: "";
  z-index: 0;
  width: 0;
  height: 0;

  border-radius: 100%;
  background: var(--color-dark);

  transform: translate(-50%, -50%);
  transition: width var(--time), padding-top var(--time);
}

.hover:hover span {
  width: calc(var(--width) * 2.25);
  padding-top: calc(var(--width) * 2.25);
}

.hover.filled:hover .text {
  color: white;
}

.hover.filled span {
  background: var(--color-danger);
}

.hover.filled {
  cursor: no-drop;
}

.animated {
  --angle: 5deg;
  animation: shake 0.3s;
}

.link {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 1rem;
}

/* Filter ------------------------------------------------------ */

.select {
  background-color: var(--color-white);
  display: flex;
}

details {
  width: 300px;
  position: relative;
  margin-right: 1rem;
}

details[open] {
  z-index: 10;
}

summary {
  padding: 1rem;
  cursor: pointer;
  border: 3px solid var(--color-dark);
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary:before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

summary:after {
  content: '';
  display: inline-block;
  float: right;
  width: .5rem;
  height: .5rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(45deg) translate(50%, 0%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms
}

summary:focus {
  outline: none;
}

details[open] summary:after {
  transform: rotate(-45deg) translate(0%, 0%);
}

.select ul {
  z-index: 10;
  background-color: var(--color-white);
  border: 3px solid var(--color-dark);
  top: calc(100% + .5rem);
  box-sizing: border-box;
  position: absolute;
  max-height: 300px;
  overflow-y: auto;
  list-style: none;
  padding: 1rem;
  width: 100%;
  margin: 0;
  left: 0;
}

.select li {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.select li:hover {
  color: var(--color-yellow);
  font-weight: bolder;
}

.select li:first-child {
  padding-top: 0;
}

.select li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
  counter-reset: radios;
}

input[type=radio] {
  counter-increment: radios;
  appearance: none;
  display: none;
}

.select input[type=radio]:checked {
  display: inline;
}

.select input[type=radio]:after {
  content: attr(title);
  display: inline;
  font-size: 1rem;
}

.select ul.list {
  counter-reset: labels;
}

.select label {
  width: 100%;
  display: block;
  cursor: pointer;
}

@media only screen and (max-width : 760px) {

  .display {
    display: grid;
    grid-template-columns: 100%;
    gap: 0.1em;
  }

}
