@font-face {
  font-family: "Teko Bold";
  font-weight: bold;
  src: url('Teko-Bold.ttf');
}

@font-face {
  font-family: "Teko Light";
  font-weight: bold;
  src: url('Teko-Light.ttf');
}

@font-face {
  font-family: "Teko Medium";
  font-weight: bold;
  src: url('Teko-Medium.ttf');
}

@font-face {
  font-family: "Teko Regular";
  font-weight: bold;
  src: url('Teko-Regular.ttf');
}

@font-face {
  font-family: "Teko SemiBold";
  font-weight: bold;
  src: url('Teko-Teko-SemiBold.ttf');
}
