#contact {
  height: 100vh;
  /* Top Right Bottom Left */
  padding: 10vh 15vw;
  position: relative;
  background: var(--color-off-white);
  color: var(--color-blue);
}

#contact ul {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0;
  padding: 0;
}

#contact ul li {
  list-style: none;
  margin: 0 5px;
}

#contact ul li a svg {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: .5s;
  margin-top: 20px;
  margin-left: 20px;
  padding-right: 14px;
}

#contact ul li a span {
  padding: 0;
  margin-left: 40px;
  position: absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

#contact ul li a {
  text-decoration: none;
  display: absolute;
  display: block;
  width: 210px;
  height: 80px;
  background: #fff;
  text-align: left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
}

#contact ul li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

#contact ul li a:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

#contact ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}

#contact ul li:hover svg {
  stroke: #fff;
}

#contact ul li:hover span {
  color: #fff;
}

#contact ul li:hover:nth-child(1) a {
  background: #3b5998;
}

#contact ul li:hover:nth-child(1) a:before {
  background: #365492;
}

#contact ul li:hover:nth-child(1) a:after {
  background: #4a69ad;
}

#contact ul li:hover:nth-child(2) a {
  background: #0074a1;
}

#contact ul li:hover:nth-child(2) a:before {
  background: #004f6e;
}

#contact ul li:hover:nth-child(2) a:after {
  background: #0086bb;
}

#contact ul li:hover:nth-child(3) a {
  background: #dd4b39;
}

#contact ul li:hover:nth-child(3) a:before {
  background: #b33a2b;
}

#contact ul li:hover:nth-child(3) a:after {
  background: #e66a5a;
}

#contact ul li:hover:nth-child(4) a {
  background: #e4405f;
}

#contact ul li:hover:nth-child(4) a:before {
  background: #d81c3f;
}

#contact ul li:hover:nth-child(4) a:after {
  background: #e46880;
}
