.header {
  position: fixed;
  padding: 48px 24px;
  z-index: 1000;
  width: 100%;
}

.menu {
  margin: 30px;
  font-size: 1.5em;
}

.nav ul {
  position: fixed;
  margin-left: 70%;
  display: none;
  list-style: none;
  font-size: 5rem;
  z-index: 100;
}

.nav a {
  text-decoration: none;
  color: var(--color-white);
}

.nav-tgl {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  right: 30px;
  top: 30px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: var(--color-white);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.3);
  line-height: 0.6;
  text-align: center;
}

.nav-tgl>span {
  display: inline-block;
  position: relative;
  height: 3px;
  width: 34px;
  border-radius: 3px;
  background: #293335;
  vertical-align: middle;
}

.nav-tgl>span:before,
.nav-tgl>span:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 3px;
  border-radius: 3px;
  background: #293335;
  transition: all 200ms;
}

.nav-tgl>span:before {
  top: -11px;
  left: 3px;
  width: 28px;
}

.nav-tgl>span:after {
  top: 11px;
  left: 6px;
  width: 22px;
}

.nav-tgl:focus {
  outline: none;
}

.nav-tgl:hover>span:after,
.nav-tgl:hover>span:before {
  width: 34px;
  left: 0;
}

.nav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  transition: all 500ms ease-in-out;
  clip-path: circle(30px at calc(100% - 65px) 65px);
  visibility: hidden;
}

.menu.active .nav:before {
  visibility: visible;
  clip-path: circle(100%);
}

.item-list.active {
  display: block;
  -webkit-animation: fadeIn 1.5s;
  animation: fadeIn 1.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.menu.active .nav-tgl>span {
  height: 0;
}

.menu.active .nav-tgl>span:after,
.menu.active .nav-tgl>span:before {
  top: 0px;
  left: 0;
  width: 34px;
}

.menu.active .nav-tgl>span:after {
  transform: rotate(-45deg);
}

.menu.active .nav-tgl>span:before {
  transform: rotate(45deg);
}


/* Responsive version --------------------------------------------------------- */

@media (max-width: 680px) {

  .nav-tgl {
    width: 400px !important;
    height: 400px;
  }

  .nav ul {
    margin-left: 20%;
  }

  .nav:before {
    background: rgba(0, 0, 0, 0.95);
  }

}
