@import "header.css";
@import "projects.css";
@import "contact.css";

@import "../fonts/handletter.css";
@import "../fonts/OriginSans/origin-sans.css";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-white: #fff;
  --color-off-white: #f5f5f5;
  --color-blue: #0a192f;
  --color-yellow: #f9ca24;
  --color-purple: #6533BE;
  --color-lightgray: #C3C3C3;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--color-white);
  background: var(--color-blue);
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
}

.circle-xl {
  height: 500px;
  width: 500px;
}

.myself-img {
  display: none;
}

.btn {
  font-size: 2.5rem;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.btn-primary {
  background-color: #6533BE;
  box-shadow: 0 8px 16px 0 rgba(101, 51, 190, 0.3), 0 6px 20px 0 rgba(101, 51, 190, 0.2);
}

.btn-primary:hover {
  box-shadow: 0 2px 6px 0 rgba(101, 51, 190, 0.3), 0 6px 20px 0 rgba(101, 51, 190, 0.2);
}

.flex {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.bubble {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  background: rgba(101, 51, 190, 0.4);
  transition: height 0.4s, width 0.4s, background-color 0.4s, all 0.2s;
  z-index: 9999;
}

/* ----------------------------------------- */

.text-center {
  text-align: center;
}

.solid {
  font-family: "OriginSans";
  font-weight: bold;
}

.outline {
  font-family: "OriginSans Outline";
  font-weight: bold;
}

.hand-writting {
  font-family: "Handletter";
}

a:focus {
  outline: none;
  position: relative;
}

a:focus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  width: 100px;
  height: 100px;
}

.call-action {
  height: 40vh;
  background: rgba(10, 25, 47, 0.4);
  position: relative;
}

.call-action .shootingStar {
  position: absolute;
  margin-left: 100px;
  right: 80px;
  left: auto;
  bottom: 80px;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.m-5 {
  margin: 5rem;
}

.m-4 {
  margin: 4rem;
}

.m-3 {
  margin: 3rem;
}

.m-2 {
  margin: 2rem;
}

.m-1 {
  margin: 1rem;
}

.p-5 {
  padding: 5rem;
}

.p-4 {
  padding: 4rem;
}

.p-3 {
  padding: 3rem;
}

.p-2 {
  padding: 2rem;
}

.p-1 {
  padding: 1rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

/* ---------------------------------------------------------------------------- */

.circle {
  position: absolute;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.30);
  border-radius: 50%;
  display: block;
}

.myself-img {
  width: 400px;
  height: 640px;
  position: absolute;
  background-image: url(../img/myself.png);
  background-size: cover;
  border-radius: 0 0 200px 200px;
  display: block;
}

.circle-xs {
  margin: 300px;
  background: rgba(101, 51, 190, 0.6);
  height: 25px;
  width: 25px;
}

.circle-sm {
  margin: 300px;
  background: rgba(101, 51, 190, 0.6);
  height: 50px;
  width: 50px;
}

.circle-md {
  margin: 300px;
  background: rgba(101, 51, 190, 0.6);
  height: 75px;
  width: 75px;
}

.circle-lg {
  margin: 300px;
  background: rgba(101, 51, 190, 0.6);
  height: 200px;
  width: 200px;
}

.circle-xl {
  background-color: var(--color-purple);
  height: 400px;
  width: 400px;
}


/* -------------------------------------------- */

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.wave {
  z-index: -1;
  display: inline-block;
  position: relative;
  width: 100%;
  padding-top: 20vh;
  vertical-align: middle;
  overflow: hidden;
}

/* Responsive version --------------------------------------------------------- */
@media only screen and (min-width: 1200px) {

  #summary {
    scroll-margin-top: -100px;
  }

  .container {
    min-height: 40vh;
    margin-bottom: 200px;
    display: inline-block;
  }

  .col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
  }

  .col-one {
    align-items: flex-end;
    justify-content: flex-start;
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .col-two {
    grid-column: 2 / 2;
    grid-row: 1;
  }

  .row {
    width: 100%
  }

  .banner {
    height: 100vh;
    /* Top Right Bottom Left */
    padding: 15vh 10vw 80px 15vw;
    position: relative;
    background: var(--color-off-white);
    color: var(--color-blue);
  }

  .myname {
    font-size: 12rem;
    letter-spacing: 5px;
    color: var(--color-blue);
    /* opacity: 0.1; */
  }

  .bubble--big {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.03);
    transition: height 0.4s, width 0.4s, background-color 0.4s;
  }
}
