.shootingStar {
  position: relative;
  display: inline-block;
  margin-top: 50px;
  margin-left: 30px;
  width: 200px;
  height: 400px;
  z-index: 10;
}

.shootingStar__list {
  margin-left: 70px;
}

.shootingStar__content {
  color: var(--color-blue);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.2s transform;
  font-size: 13px;
  font-weight: 600;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.30);
}

.shootingStar__num-text {
  display: block;
  transform: translateY(-130%);
  color: var(--color-blue);
  background: rgba(245, 245, 245, 0.6);
  text-align: center;
  white-space: nowrap;
  position: absolute;
  width: 100%;
  border-radius: 30px;
  top: 0;
  left: 0;
}

.project__view {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 80vh;
  width: 100%;
}

.project__header {
  font-size: 8rem;
  margin-bottom: 2rem;
  color: var(--color-blue);
}

.project__img {
  display: block;
  width: 100%;
}

.project__duration {
  background-color: var(--color-purple);
  color: var(--color-white);
  padding: 3px 20px;
  border-radius: 30px;
  display: inline-block;
}

/* --------------------------------------------------------------------------- */

.tattoo-card {}

.tattoo-card .shootingStar__content {
  background-image: url(../img/tattoo-main.jpg);
  background-size: cover;
}

/* --------------------------------------------------------------------------- */

.philemon-card {}

.philemon-card .shootingStar__content {
  background-image: url(../img/philemon.jpg);
  background-size: cover;
}

/* --------------------------------------------------------------------------- */

.easy-card {}

.easy-card .shootingStar__content {
  background-image: url(../img/easy.jpg);
  background-position: center;
  background-size: cover;
}

/* --------------------------------------------------------------------------- */

.handy-card {}

.handy-card .shootingStar__content {
  background-image: url(../img/handy.jpg);
  background-size: cover;
}

/* --------------------------------------------------------------------------- */

.sentier-card {}

.sentier-card .shootingStar__content {
  background-image: url(../img/sentier.jpg);
  background-size: cover;
}

/* Responsive version --------------------------------------------------------- */

@media only screen and (max-width: 760px) {
  .shootingStar {
    position: relative;
    display: inline-block;
    margin: 30px 10%;
    width: 250px;
    height: 250px;
  }
}
